* {
  margin: 0;
  padding: 0;
}


.container {
  height: 1404px; 
  width: 100%;
}

.cert1 {
  background-image: url(../../img/cert2/page2.png);
  background-size: cover; 
  width: 1000px; 
  height: 702px; 

}

.cert2 {
  background-image: url(../../img/cert2/page1.png);
  background-size: cover; 
  width: 1000px; 
  height: 702px; 
}
